<mat-card class="landing-card">
  <!-- HERO -->
  <div class="hero">
    <!-- <img src="assets/images/fnb-logo1.png" class="brand-logo" /> -->
    <h1>Travel Request Management System</h1>
    <p>
      A secure and streamlined platform for managing employee travel requests,
      approvals, and reporting.
    </p>
  </div>

  <!-- ACTION BUTTONS -->
<div class="action-grid" *ngIf="isAuthenticated">

  <button
    mat-flat-button
    color="primary"
    routerLink="/travel/create"
    *ngIf="canCreateTravel">
    <mat-icon>add_circle</mat-icon>
    Create Travel Request
  </button>

  <button
    mat-stroked-button
    routerLink="/travel/list"
    *ngIf="canViewTravel">
    <mat-icon>assignment</mat-icon>
    My Requests
  </button>

  <button
    mat-stroked-button
    routerLink="/travel/cfo/dashboard"
    *ngIf="isCFO || isAdmin">
    <mat-icon>dashboard</mat-icon>
    CFO Dashboard
  </button>

  <button
    mat-stroked-button
    routerLink="/travel/buhead/list"
    *ngIf="isBUHead || isAdmin"
    class="badge-btn"
    [matTooltip]="buPendingCount + ' records pending for your action'"
    matTooltipPosition="above"
    matTooltipShowDelay="300"
    matTooltipHideDelay="100"
    [matTooltipDisabled]="buPendingCount === 0">

    <mat-icon>how_to_reg</mat-icon>
    BU Approvals

    <span
      class="badge badge-secondary"
      *ngIf="isBUHead && buPendingCount > 0">
      {{ buPendingCount }}
    </span>
  </button>

  <button
    mat-stroked-button
    routerLink="/travel/cfo/list"
    *ngIf="isCFO || isAdmin"
    class="badge-btn"
    [matTooltip]="cfoPendingCount + ' records pending for your action'"
    matTooltipPosition="above"
    matTooltipShowDelay="300"
    matTooltipHideDelay="100"
    [matTooltipDisabled]="cfoPendingCount === 0">

    <mat-icon>gavel</mat-icon>
    CFO Approvals

    <span
      class="badge"
      *ngIf="isCFO && cfoPendingCount > 0">
      {{ cfoPendingCount }}
    </span>
  </button>
  <ng-container *ngIf="isAdmin">
  <button
    mat-stroked-button
    [matMenuTriggerFor]="manageMenu"
    class="settings-btn">
    <mat-icon>settings</mat-icon>
    Settings
  </button>

  <mat-menu #manageMenu="matMenu">
    <button mat-menu-item routerLink="/travel/user/list">
      <mat-icon>person</mat-icon>
      User Role Management
    </button>

    <button mat-menu-item routerLink="/travel/app/list">
      <mat-icon>computer</mat-icon>
      App Roles Management
    </button>

    <button mat-menu-item routerLink="/travel/perdiem/list">
      <mat-icon>map</mat-icon>
      Per Diem Management
    </button>
  </mat-menu>

  <button
    mat-stroked-button
    class="invisible-btn"
    aria-hidden="true"
    tabindex="-1">
  </button>

</ng-container>

<button
    mat-stroked-button
    routerLink="/travel/user/account"
    *ngIf="canViewTravel">
    <mat-icon>person</mat-icon>
    My Accounts
  </button>

</div>
</mat-card>
