<mat-card *ngIf="!loading">
    <mat-card-title>Travel Request Detail</mat-card-title>
    <mat-card-content>
      <div class="field"><strong>Employee:</strong> {{ travel.employeeName }}</div>
      <div class="field"><strong>Purpose:</strong> {{ travel.purpose }}</div>
      <div class="field"><strong>City:</strong> {{ travel.city }}, {{ travel.country }}</div>
      <div class="field"><strong>E:</strong> {{ travel.departureDate | date }} {{ travel.departureTime }}</div>
      <div class="field"><strong>Return:</strong> {{ travel.returnDate | date }} {{ travel.returnTime }}</div>
  
      <form [formGroup]="actionForm" class="action-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Cfo Status</mat-label>
          <mat-select formControlName="cfoStatus" [disabled]="!isEditable">
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Successful">Successful</mat-option>
            <!-- <mat-option value="Rejected">Rejected</mat-option> -->
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Feedback</mat-label>
          <mat-select formControlName="cfoFeedback" [disabled]="!isEditable">
            <mat-option value="Approved">Approved</mat-option>
            <mat-option value="Rejected">Rejected</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Remarks</mat-label>
          <textarea matInput rows="4" formControlName="cfoFeedbackRemarks" [disabled]="!isEditable"></textarea>
        </mat-form-field>
        <mat-hint *ngIf="!isEditable" class="read-only-hint">
          Editing is allowed for CFO only when status is <strong>Pending CFO Approval</strong>. Current status: <strong>{{ travel.status }}</strong>
          <br>
          <strong>Notice:</strong>.  A user who is an ADMIN does not have the permissions to make edits on this page
        </mat-hint>
        <mat-card-actions>
          <button mat-stroked-button color="warn" (click)="reject()" [disabled]="!isEditable">Reject</button>
          <button mat-raised-button color="primary" (click)="approve()" [disabled]="!isEditable">Approve</button>
          <button mat-raised-button color="primary" (click)="details()">Dedtails</button>
          <button mat-button color="primary" (click)="goBack()" class="back-btn">
            <mat-icon>arrow_back</mat-icon> Back
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
