<form [formGroup]="perdiemForm" (ngSubmit)="onSubmit()" class="buhead-form">
    <mat-card class="buhead-card">
      <mat-card-title>
        <mat-icon color="primary" style="vertical-align: middle; margin-right: 8px;">business</mat-icon>
        Create Per-Diem Request 
        <p class="subtitle">Create per-diem configuration</p>
      </mat-card-title>
  
      <mat-card-content>
        <div class="form-grid">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>$ Dollar Rate</mat-label>
            <input matInput formControlName="dollarRate" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>$ Airfare Cost</mat-label>
            <input matInput formControlName="airFareCost" >
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>$ Accommodation Cost</mat-label>
            <input matInput formControlName="accommodationCost" >
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>$ Visa Application Fee</mat-label>
            <input matInput formControlName="visaApplicationCost" >
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>$ Transportation Cost</mat-label>
            <input matInput formControlName="transportationCost" >
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>$ Other Cost</mat-label>
            <input matInput formControlName="otherCost" >
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" >
          </mat-form-field>
  
        </div>
      </mat-card-content>
  
      <mat-card-actions class="form-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loading || perdiemForm.invalid"
        >
          <mat-progress-spinner
            *ngIf="loading"
            mode="indeterminate"
            diameter="20"
            strokeWidth="3"
            color="accent"
            class="spinner"
          ></mat-progress-spinner>
          <span *ngIf="!loading">Submit</span>
        </button>
  
        <button
          mat-stroked-button
          color="warn"
          type="button"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  