<h1>working eribprehg ergiuergu </h1>
<!-- <mat-card *ngIf="!loading">
    <mat-card-title>Travel Request Detail</mat-card-title>
    <mat-card-content>
      <div class="field"><strong>Employee:</strong> {{ travel.employeeName }}</div>
      <div class="field"><strong>Purpose:</strong> {{ travel.purpose }}</div>
      <div class="field"><strong>City:</strong> {{ travel.city }}, {{ travel.country }}</div>
      <div class="field"><strong>Departure:</strong> {{ travel.departureDate | date }} {{ travel.departureTime }}</div>
      <div class="field"><strong>Return:</strong> {{ travel.returnDate | date }} {{ travel.returnTime }}</div>
  
      <form [formGroup]="actionForm" class="action-form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Remarks</mat-label>
          <textarea matInput rows="3" formControlName="feedback"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-stroked-button color="warn" (click)="reject()">Reject</button>
      <button mat-raised-button color="primary" (click)="approve()">Approve</button>
    </mat-card-actions>
  </mat-card> -->
  
